* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    flex: 1;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

h2,
h3,
a {
    color: darkgoldenrod;
}


a {
    text-decoration: none;
}

img {
    width: 100%;
    margin-bottom: 1em;
}

.container ul {
    padding: 0;
    list-style: none;
}

h4 {
    margin-top: 0;
}

figure {
    margin: 0;
    line-height: 0;
    position: relative;
}

figcaption {
    font-size: .9em;
    line-height: 1.5;
    color: darkgray;
    padding: 1em;
    background: rgba(184, 134, 11, .85);
    position: absolute;
    top: 0;
    width: 100%;
}

form {
    padding-top: 3%;
    width: 50%;
}

form input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 2% 4%;
    margin: 2%;
}

form select {
    width: 100%;
    padding: 3% 4%;
    border: none;
    background-color: #f1f1f1;
    margin: 2%;
  }

form textarea {
    width: 100%;
    height: 150px;
    padding: 2% 4%;
    border: 1px solid lightgray;
    resize: none;
    margin: 2%;
}

.submit-button {
    background-color: rgb(76, 175, 92);
    border: none;
    color: white;
    padding: 4% 8%;
    text-decoration: none;
    margin: 1% 2%;
    cursor: pointer;
}


.banner h1 {
    margin: 0;
}

.banner {
    padding: 20px;
}

.banner img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 10px;
}

.name {
    font-size: 1.25em;
}

.main-nav a {
    font-size: .95em;
    color: #222;
    text-transform: uppercase;    
}

.main-nav a:hover {
    color: darkgoldenrod;
}

.banner {
    color: darkgoldenrod;
    background: #111;
}

.main-footer {
    background: #555;
    color: darkgoldenrod;
    padding: 2em 0;
    margin-top: 30px;
}

.logo {
    width: 400px;
}

.container,
.main-content,
.col {
    width: 95%;
    margin: 0 auto;
}

.banner,
.main-footer,
.name,
.main-nav {
    text-align: center;
}

.title {
    font-size: 23px;
    font-weight: bold;
    color: darkgoldenrod;
}

.date {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 8%;
    text-transform: uppercase;
}

@media (min-width: 769px) {
    body {
        padding-top: 100px;
        margin-top: 20px;
        min-height: calc(100vh - 89.33px);
    }

    .main-header {
        position: fixed;
        background: #fff;
        box-shadow: 0 1px 4px rgba(0,0,0,.4);
        width: 100%; 
        top: 0;   
        z-index: 1000;   
    }

    .container,
    .main-nav {
        display: flex;
    }

    .container {        
        flex-direction: column;
        align-items: center;
    }    

    .main-nav li {
        padding: .5em;
    }

    .container,
    .main-content {
        width: 90%;
        max-width: 1150px;
        margin: 0 auto;
    }
    
    .middle {
        float: left;
    }

    .col {
        float: left;
        padding: 1.5em;
    }

    .primary {
        width: 40%;
    }

    .secondary {
        width: 60%;
    }

    .collection-header {
        text-align: center;
    }


    .collection-images figure {
        float: left;
        margin: 2%;
        width: 40%;
        font-size: 14px;
        font-style: italic;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
    }

    
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }

}

@media (min-width:1050px) {  
    body {
        padding-top: 60px;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .primary {
        width: 30%;
    }

    .secondary {
        width: 40%;
    }

    .teritiary {
        width: 30%;
    }

    .main-nav li {
        padding: .5em;
        margin-top: 13px;
    }

    .collection-images figure {
        margin: 1%;
        width: 30%;
    }
}